<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Блочная вёрстка</title>
    <link href="css/blockLayout.css" rel="stylesheet">
</head>
<body>
<div id="headerBlock">Пример блочной верстки</div>
<div id="wrapper">
    <div id="leftSideBarBlock">
        <p><a href="/">Ссылка 1</a></p>
        <p><a href="/">Ссылка 2</a></p>
        <p><a href="/">Ссылка 3</a></p>
        <p><a href="/">Ссылка 4</a></p>
        <p><a href="/">Ссылка 5</a></p>
        <p><a href="/">Ссылка 6</a></p>
        <p><a href="/">Ссылка 7</a></p>
        <p><a href="/">Ссылка 9</a></p>
        <p><a href="/">Ссылка 10</a></p>
        <p><a href="/">Ссылка 11</a></p>
    </div>
    <div id="contentBlock">
        <div class="contentPart" id="contentBlockOne">Горы</div>
        <div class="contentPart" id="contentBlockTwo">Поле</div>
        <div class="contentPart" id="contentBlockThree">Пустыня</div>
    </div>
    <div id="addBlock">
        <div class="promo"></div>
        <div id="test">
            <p>Пройдите наш тест!</p>
            <form method="post">
                <label>
                    1.Вы дышите по утрам?
                    <input type="checkbox">
                </label><br>
                <label>
                    2.А ваши родные?
                    <input type="checkbox">
                </label><br>
                <label>
                    3.А не родные?
                    <input type="checkbox">
                </label><br>
                <label>
                    4.Вы были честны?
                    <input type="checkbox">
                </label><br>
                <input type="submit">
            </form>
        </div>
    </div>
</div>
<div id="footerBlock">Все права защищает Ricardo Milos</div>
</body>
</html>